{
  "swagger": "2.0",
  "info": {
    "title": "govDelivery",
    "description": "",
    "version": "1.0"
  },
  "host": "tms.govdelivery.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/messages/sms": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send SMS Text",
        "operationId": "SendText",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "string",
                  "description": "body"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phone": {
                        "type": "string",
                        "description": "phone"
                      }
                    }
                  },
                  "description": "recipients"
                }
              }
            }
          }
        ]
      }
    },
    "/messages/email": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send Email",
        "operationId": "SendEmail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string",
                  "description": "subject"
                },
                "body": {
                  "type": "string",
                  "description": "body"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      }
                    }
                  },
                  "description": "recipients"
                }
              }
            }
          }
        ]
      }
    },
    "/messages/voice": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send Audio Message",
        "operationId": "SendAudioMessage",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "play_url": {
                  "type": "string",
                  "description": "play_url"
                },
                "say_text": {
                  "type": "string",
                  "description": "say_text"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phone": {
                        "type": "string",
                        "description": "phone"
                      }
                    }
                  },
                  "description": "recipients"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-AUTH-TOKEN"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}